header
  .header-position
    h1.logo Matthew Teng

    nav.site-nav
      ul
        li: a(href="#about") About
        li: a(href="#portfolio") Portfolio
        li: a(href="#resume") Resume
        li: a(href="#contact") Contact

    a(href = "").social Social Media
