section.blog
  .flex.flex--center
    .col-1
      .image-strip

    .col-1.order-first
      p.home-lead Hello everyone this is some filler text to see placement of my columns!
      a(href="").home-cta Click here!
