section.blog
  background:
    image: url(../images/stockbackground.jpg)
    position: center
    size: cover
  color: red

  .home-cta
    color: red

  .image-strip
    position: absolute
    top: 0
    margin: -50px 0
    width: 100%
    height: calc(100% + 100px)
    background:
      image: url(../images/ccc.png)
      position: center 0px
      repeat: repeat-y
      size: 75%

  .col-1
    position: relative
